In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

# Denver Nuggetts Games from Stat Muse

In [2]:
#Copied url
url = "https://www.statmuse.com/nba/ask/denver-nuggets-last-ten-games"
page = requests.get(url)

In [8]:
# Create a BeautifulSoup object to parse the HTML content
denver_soup = BeautifulSoup(page.text, 'html')

In [ ]:
# Display the prettified HTML content of the denver_soup object
print(denver_soup.prettify())

denver_soup.find('table')

In [ ]:
# Retrieve the first table element from the parsed HTML
denver_soup.find_all('table')[0]

In [14]:
# Passing a variable to the retrieved table
denver_table = denver_soup.find_all('table')[0]

denver = denver_table.find_all('th')
denver

In [15]:
# This line extracts column titles from the 'denver' variable
game_column_titles = [title.text.strip() for title in denver]
game_column_titles

['',
 '',
 'TEAM',
 'DATE',
 'TM',
 '',
 'OPP',
 'RESULT',
 'MIN',
 'PTS',
 'REB',
 'AST',
 'STL',
 'BLK',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'TS%',
 'OREB',
 'DREB',
 'TOV',
 'PF']

In [16]:
import pandas as pd

denver_df = pd.DataFrame(columns= game_column_titles) # Turn the extracted columns to a Pandas Dataframe
denver_df

Empty DataFrame
Columns: [, , TEAM, DATE, TM, , OPP, RESULT, MIN, PTS, REB, AST, STL, BLK, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, TS%, OREB, DREB, TOV, PF]
Index: []

[0 rows x 28 columns]

In [17]:
column_data = denver_table.find_all('tr') # Find all rows in the 'denver_table'
for row in column_data[1:]:# Iterate through each row (excluding the header row)
    row_data = row.find_all("td")    # Find all data cells (td) within the row
    row_values = [row_list.text.strip() for row_list in row_data]   # Extract the text from each cell and strip any leading/trailing whitespace
    print(row_values)    # Print the extracted values for this row
     
        
     
    length= len(denver_df)   # Get the current length of the 'denver_df' DataFrame
     
    denver_df.loc[length] = row_values  # Add the row values to the DataFrame as a new row

['1', '', 'Nuggets', '4/25/2024', 'DEN', '@', 'LAL', 'W 112-105', '240', '112', '51', '27', '4', '3', '44', '90', '48.9', '5', '28', '17.9', '19', '22', '86.4', '56.2', '14', '37', '13', '14']
['2', '', 'Nuggets', '4/27/2024', 'DEN', '@', 'LAL', 'L 108-119', '240', '108', '40', '30', '9', '4', '39', '87', '44.8', '9', '30', '30.0', '21', '25', '84.0', '55.1', '9', '31', '14', '15']
['3', '', 'Nuggets', '4/29/2024', 'DEN', 'vs', 'LAL', 'W 108-106', '240', '108', '45', '28', '6', '1', '42', '89', '47.2', '16', '38', '42.1', '8', '9', '88.9', '58.1', '9', '36', '13', '16']
['4', '', 'Nuggets', '5/4/2024', 'DEN', 'vs', 'MIN', 'L 99-106', '240', '99', '34', '24', '12', '2', '35', '75', '46.7', '13', '31', '41.9', '16', '20', '80.0', '59.1', '3', '31', '12', '18']
['5', '', 'Nuggets', '5/6/2024', 'DEN', 'vs', 'MIN', 'L 80-106', '240', '80', '50', '16', '6', '6', '29', '83', '34.9', '9', '30', '30.0', '13', '18', '72.2', '44.0', '18', '32', '16', '14']
['6', '', 'Nuggets', '5/10/2024', 'DEN', '@', 'MIN', 'W 117-90', '240', '117', '40', '26', '9', '4', '43', '80', '53.8', '14', '29', '48.3', '17', '20', '85.0', '65.9', '8', '32', '10', '25']
['7', '', 'Nuggets', '5/12/2024', 'DEN', '@', 'MIN', 'W 115-107', '240', '115', '31', '29', '7', '6', '45', '79', '57.0', '13', '29', '44.8', '12', '15', '80.0', '67.2', '5', '26', '12', '20']
['8', '', 'Nuggets', '5/14/2024', 'DEN', 'vs', 'MIN', 'W 112-97', '240', '112', '38', '30', '6', '5', '44', '80', '55.0', '9', '19', '47.4', '15', '18', '83.3', '63.7', '8', '30', '11', '17']
['9', '', 'Nuggets', '5/16/2024', 'DEN', '@', 'MIN', 'L 70-115', '240', '70', '43', '18', '2', '5', '26', '86', '30.2', '7', '36', '19.4', '11', '14', '78.6', '38.0', '10', '33', '12', '17']
['10', '', 'Nuggets', '5/19/2024', 'DEN', 'vs', 'MIN', 'L 90-98', '240', '90', '44', '18', '3', '7', '34', '83', '41.0', '8', '33', '24.2', '14', '16', '87.5', '50.0', '11', '33', '10', '23']
['', '', 'Average', '', '', '', '', '', '240.0', '101.1', '41.6', '24.6', '6.4', '4.3', '38.1', '83.2', '45.8', '10.3', '30.3', '34.0', '14.6', '17.7', '82.5', '55.6', '9.5', '32.1', '12.3', '17.9']
['', '', 'Total', '', '', '', '', '', '2,400', '1,011', '416', '246', '64', '43', '381', '832', '45.8', '103', '303', '34.0', '146', '177', '82.5', '55.6', '95', '321', '123', '179']

In [18]:
denver_df # Display output

,,,TEAM,DATE,TM,,OPP,RESULT,MIN,PTS,...,3PA,3P%,FTM,FTA,FT%,TS%,OREB,DREB,TOV,PF
0,1,,Nuggets,4/25/2024,DEN,@,LAL,W 112-105,240,112,...,28,17.9,19,22,86.4,56.2,14,37,13,14
1,2,,Nuggets,4/27/2024,DEN,@,LAL,L 108-119,240,108,...,30,30.0,21,25,84.0,55.1,9,31,14,15
2,3,,Nuggets,4/29/2024,DEN,vs,LAL,W 108-106,240,108,...,38,42.1,8,9,88.9,58.1,9,36,13,16
3,4,,Nuggets,5/4/2024,DEN,vs,MIN,L 99-106,240,99,...,31,41.9,16,20,80.0,59.1,3,31,12,18
4,5,,Nuggets,5/6/2024,DEN,vs,MIN,L 80-106,240,80,...,30,30.0,13,18,72.2,44.0,18,32,16,14
5,6,,Nuggets,5/10/2024,DEN,@,MIN,W 117-90,240,117,...,29,48.3,17,20,85.0,65.9,8,32,10,25
6,7,,Nuggets,5/12/2024,DEN,@,MIN,W 115-107,240,115,...,29,44.8,12,15,80.0,67.2,5,26,12,20
7,8,,Nuggets,5/14/2024,DEN,vs,MIN,W 112-97,240,112,...,19,47.4,15,18,83.3,63.7,8,30,11,17
8,9,,Nuggets,5/16/2024,DEN,@,MIN,L 70-115,240,70,...,36,19.4,11,14,78.6,38.0,10,33,12,17
9,10,,Nuggets,5/19/2024,DEN,vs,MIN,L 90-98,240,90,...,33,24.2,14,16,87.5,50.0,11,33,10,23
10,,,Average,,,,,,240.0,101.1,...,30.3,34.0,14.6,17.7,82.5,55.6,9.5,32.1,12.3,17.9
11,,,Total,,,,,,"2,400","1,011",...,303,34.0,146,177,82.5,55.6,95,321,123,179

In [19]:
denver_df.to_csv("denver_nugget10.csv") # Convert to csv or any file of your choice

In [20]:
denver_df = pd.read_csv('denver_nugget10.csv')# Use pandas to read the file
denver_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,TEAM,DATE,TM,Unnamed: 6,OPP,RESULT,MIN,...,3PA,3P%,FTM,FTA,FT%,TS%,OREB,DREB,TOV,PF
0,0,1.0,NaN,Nuggets,4/25/2024,DEN,@,LAL,W 112-105,240,...,28.0,17.9,19.0,22.0,86.4,56.2,14.0,37.0,13.0,14.0
1,1,2.0,NaN,Nuggets,4/27/2024,DEN,@,LAL,L 108-119,240,...,30.0,30.0,21.0,25.0,84.0,55.1,9.0,31.0,14.0,15.0
2,2,3.0,NaN,Nuggets,4/29/2024,DEN,vs,LAL,W 108-106,240,...,38.0,42.1,8.0,9.0,88.9,58.1,9.0,36.0,13.0,16.0
3,3,4.0,NaN,Nuggets,5/4/2024,DEN,vs,MIN,L 99-106,240,...,31.0,41.9,16.0,20.0,80.0,59.1,3.0,31.0,12.0,18.0
4,4,5.0,NaN,Nuggets,5/6/2024,DEN,vs,MIN,L 80-106,240,...,30.0,30.0,13.0,18.0,72.2,44.0,18.0,32.0,16.0,14.0
5,5,6.0,NaN,Nuggets,5/10/2024,DEN,@,MIN,W 117-90,240,...,29.0,48.3,17.0,20.0,85.0,65.9,8.0,32.0,10.0,25.0
6,6,7.0,NaN,Nuggets,5/12/2024,DEN,@,MIN,W 115-107,240,...,29.0,44.8,12.0,15.0,80.0,67.2,5.0,26.0,12.0,20.0
7,7,8.0,NaN,Nuggets,5/14/2024,DEN,vs,MIN,W 112-97,240,...,19.0,47.4,15.0,18.0,83.3,63.7,8.0,30.0,11.0,17.0
8,8,9.0,NaN,Nuggets,5/16/2024,DEN,@,MIN,L 70-115,240,...,36.0,19.4,11.0,14.0,78.6,38.0,10.0,33.0,12.0,17.0
9,9,10.0,NaN,Nuggets,5/19/2024,DEN,vs,MIN,L 90-98,240,...,33.0,24.2,14.0,16.0,87.5,50.0,11.0,33.0,10.0,23.0
10,10,NaN,NaN,Average,NaN,NaN,NaN,NaN,NaN,240.0,...,30.3,34.0,14.6,17.7,82.5,55.6,9.5,32.1,12.3,17.9
11,11,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN,"2,400",...,303.0,34.0,146.0,177.0,82.5,55.6,95.0,321.0,123.0,179.0

# Aaron Gordon

In [21]:
url = "https://www.statmuse.com/nba/ask/aaron-gordon-last-ten-games"
page = requests.get(url)

In [22]:
gordon_soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(gordon_soup.prettify())

In [ ]:
gordon_soup.find_all('table')[0]

In [25]:
gordon_table = gordon_soup.find_all('table')[0]

In [ ]:
gordon = gordon_table.find_all('th')
gordon

In [27]:
game_column_titles = [title.text.strip() for title in gordon]
game_column_titles

['',
 '',
 'NAME',
 'DATE',
 'TM',
 '',
 'OPP',
 'MIN',
 'PTS',
 'REB',
 'AST',
 'STL',
 'BLK',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'TS%',
 'OREB',
 'DREB',
 'TOV',
 'PF',
 '+/-']

In [28]:
gordon_df = pd.DataFrame(columns= game_column_titles)
gordon_df

Empty DataFrame
Columns: [, , NAME, DATE, TM, , OPP, MIN, PTS, REB, AST, STL, BLK, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, TS%, OREB, DREB, TOV, PF, +/-]
Index: []

[0 rows x 28 columns]

In [29]:
column_data = gordon_table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all("td") 
    row_values = [row_list.text.strip() for row_list in row_data]   
    print(row_values)   
     
        
     
    length= len(gordon_df)   
     
    gordon_df.loc[length] = row_values

['1', '', 'Aaron Gordon A. Gordon', '4/25/2024', 'DEN', '@', 'LAL', '41', '29', '15', '3', '1', '0', '12', '18', '66.7', '0', '1', '0.0', '5', '6', '83.3', '70.3', '5', '10', '2', '0', '+3']
['2', '', 'Aaron Gordon A. Gordon', '4/27/2024', 'DEN', '@', 'LAL', '42', '7', '3', '4', '1', '0', '3', '7', '42.9', '0', '2', '0.0', '1', '2', '50.0', '44.4', '0', '3', '2', '1', '-6']
['3', '', 'Aaron Gordon A. Gordon', '4/29/2024', 'DEN', 'vs', 'LAL', '46', '7', '13', '6', '1', '1', '3', '7', '42.9', '1', '2', '50.0', '0', '0', '', '50.0', '5', '8', '3', '2', '+3']
['4', '', 'Aaron Gordon A. Gordon', '5/4/2024', 'DEN', 'vs', 'MIN', '33', '9', '3', '6', '2', '0', '4', '6', '66.7', '0', '1', '0.0', '1', '3', '33.3', '61.5', '1', '2', '1', '4', '-23']
['5', '', 'Aaron Gordon A. Gordon', '5/6/2024', 'DEN', 'vs', 'MIN', '33', '20', '4', '2', '1', '0', '8', '14', '57.1', '3', '5', '60.0', '1', '2', '50.0', '67.2', '3', '1', '1', '2', '-33']
['6', '', 'Aaron Gordon A. Gordon', '5/10/2024', 'DEN', '@', 'MIN', '33', '13', '2', '5', '2', '0', '5', '7', '71.4', '3', '4', '75.0', '0', '0', '', '92.9', '1', '1', '0', '2', '+18']
['7', '', 'Aaron Gordon A. Gordon', '5/12/2024', 'DEN', '@', 'MIN', '41', '27', '7', '6', '1', '2', '11', '12', '91.7', '2', '2', '100.0', '3', '3', '100.0', '101.4', '2', '5', '2', '4', '+9']
['8', '', 'Aaron Gordon A. Gordon', '5/14/2024', 'DEN', 'vs', 'MIN', '34', '18', '10', '5', '1', '0', '7', '14', '50.0', '0', '1', '0.0', '4', '4', '100.0', '57.1', '5', '5', '2', '2', '+8']
['9', '', 'Aaron Gordon A. Gordon', '5/16/2024', 'DEN', '@', 'MIN', '28', '12', '8', '4', '0', '3', '4', '7', '57.1', '2', '4', '50.0', '2', '2', '100.0', '76.1', '1', '7', '2', '1', '-27']
['10', '', 'Aaron Gordon A. Gordon', '5/19/2024', 'DEN', 'vs', 'MIN', '42', '4', '4', '2', '0', '1', '2', '5', '40.0', '0', '0', '', '0', '0', '', '40.0', '4', '0', '1', '5', '-14']
['', '', 'Average', '', '', '', '', '37.3', '14.6', '6.9', '4.3', '1.0', '0.7', '5.9', '9.7', '60.8', '1.1', '2.2', '50.0', '1.7', '2.2', '77.3', '68.4', '2.7', '4.2', '1.6', '2.3', '-6.2']
['', '', 'Total', '', '', '', '', '373', '146', '69', '43', '10', '7', '59', '97', '60.8', '11', '22', '50.0', '17', '22', '77.3', '68.4', '27', '42', '16', '23', '-62']

In [30]:
gordon_df

,,,NAME,DATE,TM,,OPP,MIN,PTS,REB,...,3P%,FTM,FTA,FT%,TS%,OREB,DREB,TOV,PF,+/-
0,1,,Aaron Gordon A. Gordon,4/25/2024,DEN,@,LAL,41,29,15,...,0.0,5,6,83.3,70.3,5,10,2,0,+3
1,2,,Aaron Gordon A. Gordon,4/27/2024,DEN,@,LAL,42,7,3,...,0.0,1,2,50.0,44.4,0,3,2,1,-6
2,3,,Aaron Gordon A. Gordon,4/29/2024,DEN,vs,LAL,46,7,13,...,50.0,0,0,,50.0,5,8,3,2,+3
3,4,,Aaron Gordon A. Gordon,5/4/2024,DEN,vs,MIN,33,9,3,...,0.0,1,3,33.3,61.5,1,2,1,4,-23
4,5,,Aaron Gordon A. Gordon,5/6/2024,DEN,vs,MIN,33,20,4,...,60.0,1,2,50.0,67.2,3,1,1,2,-33
5,6,,Aaron Gordon A. Gordon,5/10/2024,DEN,@,MIN,33,13,2,...,75.0,0,0,,92.9,1,1,0,2,+18
6,7,,Aaron Gordon A. Gordon,5/12/2024,DEN,@,MIN,41,27,7,...,100.0,3,3,100.0,101.4,2,5,2,4,+9
7,8,,Aaron Gordon A. Gordon,5/14/2024,DEN,vs,MIN,34,18,10,...,0.0,4,4,100.0,57.1,5,5,2,2,+8
8,9,,Aaron Gordon A. Gordon,5/16/2024,DEN,@,MIN,28,12,8,...,50.0,2,2,100.0,76.1,1,7,2,1,-27
9,10,,Aaron Gordon A. Gordon,5/19/2024,DEN,vs,MIN,42,4,4,...,,0,0,,40.0,4,0,1,5,-14
10,,,Average,,,,,37.3,14.6,6.9,...,50.0,1.7,2.2,77.3,68.4,2.7,4.2,1.6,2.3,-6.2
11,,,Total,,,,,373,146,69,...,50.0,17,22,77.3,68.4,27,42,16,23,-62

In [31]:
gordon_df.to_csv("gordon_updated1.csv", index=False)

In [32]:
denver_df = pd.read_csv('gordon_updated1.csv')
denver_df

,Unnamed: 0,Unnamed: 1,NAME,DATE,TM,Unnamed: 5,OPP,MIN,PTS,REB,...,3P%,FTM,FTA,FT%,TS%,OREB,DREB,TOV,PF,+/-
0,1.0,NaN,Aaron Gordon A. Gordon,4/25/2024,DEN,@,LAL,41.0,29.0,15.0,...,0.0,5.0,6.0,83.3,70.3,5.0,10.0,2.0,0.0,3.0
1,2.0,NaN,Aaron Gordon A. Gordon,4/27/2024,DEN,@,LAL,42.0,7.0,3.0,...,0.0,1.0,2.0,50.0,44.4,0.0,3.0,2.0,1.0,-6.0
2,3.0,NaN,Aaron Gordon A. Gordon,4/29/2024,DEN,vs,LAL,46.0,7.0,13.0,...,50.0,0.0,0.0,NaN,50.0,5.0,8.0,3.0,2.0,3.0
3,4.0,NaN,Aaron Gordon A. Gordon,5/4/2024,DEN,vs,MIN,33.0,9.0,3.0,...,0.0,1.0,3.0,33.3,61.5,1.0,2.0,1.0,4.0,-23.0
4,5.0,NaN,Aaron Gordon A. Gordon,5/6/2024,DEN,vs,MIN,33.0,20.0,4.0,...,60.0,1.0,2.0,50.0,67.2,3.0,1.0,1.0,2.0,-33.0
5,6.0,NaN,Aaron Gordon A. Gordon,5/10/2024,DEN,@,MIN,33.0,13.0,2.0,...,75.0,0.0,0.0,NaN,92.9,1.0,1.0,0.0,2.0,18.0
6,7.0,NaN,Aaron Gordon A. Gordon,5/12/2024,DEN,@,MIN,41.0,27.0,7.0,...,100.0,3.0,3.0,100.0,101.4,2.0,5.0,2.0,4.0,9.0
7,8.0,NaN,Aaron Gordon A. Gordon,5/14/2024,DEN,vs,MIN,34.0,18.0,10.0,...,0.0,4.0,4.0,100.0,57.1,5.0,5.0,2.0,2.0,8.0
8,9.0,NaN,Aaron Gordon A. Gordon,5/16/2024,DEN,@,MIN,28.0,12.0,8.0,...,50.0,2.0,2.0,100.0,76.1,1.0,7.0,2.0,1.0,-27.0
9,10.0,NaN,Aaron Gordon A. Gordon,5/19/2024,DEN,vs,MIN,42.0,4.0,4.0,...,NaN,0.0,0.0,NaN,40.0,4.0,0.0,1.0,5.0,-14.0
10,NaN,NaN,Average,NaN,NaN,NaN,NaN,37.3,14.6,6.9,...,50.0,1.7,2.2,77.3,68.4,2.7,4.2,1.6,2.3,-6.2
11,NaN,NaN,Total,NaN,NaN,NaN,NaN,373.0,146.0,69.0,...,50.0,17.0,22.0,77.3,68.4,27.0,42.0,16.0,23.0,-62.0